body {
     /* display: grid; */
     text-align: center;
     justify-content: center;
     align-content: center;
     align-items: center;
     background-color: black;
     background-image: url(pixel-jeff-mario.gif);
     background-size: 100vw 100vh;
     background-repeat: no-repeat;
     background-attachment: fixed;
     }

img {
     display: grid;
     height: 300px;
     width: 300px;
     padding: 5px;
     text-align: center;
     justify-content: center;
     scroll-behavior: smooth;
     opacity: revert;
}

div{
     text-align: center;
}

.form-container {
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
}

form {
     display: flex;
     /* flex-wrap: wrap; */
     flex-direction: column;
     align-items: center;
     text-align: center;
     color: white;
     font-size: 20px;
     font-family: 'Righteous', cursive;
     font-weight: bold;
     background-color: rgba(0,0,0,.8);
     height: auto;
     width: 600px;
     justify-content: space-evenly;
     border: 2px solid white;
     border-radius: 20px;
     padding: 10px;
     margin: 10px;
}

label {
     font-family: 'Righteous', cursive;
     color: white;
     font-weight: bold;
     font-size: 20px;
}

input#user-name {
     font-family: 'Righteous', cursive;
     width: 400px;
     height: 25px;
     border-radius: 20px;
     font-size: 20px;
     font-weight: bold;
     margin: 5px;
}

input#user-password {
     font-family: 'Righteous', cursive;
     width: 400px;
     height: 25px;
     border-radius: 20px;
     font-size: 20px;
     font-weight: bold;
     margin: 5px;
}

input#create-user-firstname{
     font-family: 'Righteous', cursive;
     width: 400px;
     height: 25px;
     border-radius: 20px;
     font-size: 20px;
     font-weight: bold;
     margin: 5px;
}

input#create-username{
     font-family: 'Righteous', cursive;
     width: 400px;
     height: 25px;
     border-radius: 20px;
     font-size: 20px;
     font-weight: bold;
     margin: 5px;
}
input#create-user-password{
     font-family: 'Righteous', cursive;
     width: 400px;
     height: 25px;
     border-radius: 20px;
     font-size: 20px;
     font-weight: bold;
     margin: 5px;
}
.registrationForm-container {
     display: flex;
     align-items: center;
     justify-content: center;
}

#welcomeMessageContainer {
     display: flex;
     align-items: center;
     justify-content: center;
}

#welcomeMessage {
     display: flex;
     /* flex-wrap: wrap; */
     flex-direction: row;
     align-items: center;
     text-align: center;
     color: white;
     font-size: 20px;
     font-family: 'Chakra Petch', sans-serif;
     font-weight: bold;
     background-color: rgba(0,0,0,.8);
     height: 400px;
     width: 600px;
     justify-content: space-between;
     border: 2px solid white;
     border-radius: 20px;
     padding: 10px;
     
}

.resultsContainer {
     display: flex;
     flex-wrap: wrap;
     /* justify-content: space-around; */
     justify-content: center;
     margin: 10px;
}

.game-card {
     display: grid;
     text-align: center;
     padding-bottom: 10px;
     align-content: center;
     justify-content: center;
     align-items: center;
     margin: 10px;
     border: 2px solid white;
     border-radius: 20px;
     width: 400px;
     height: auto;
     background-color: rgba(0,0,0,.8);
     
}

button#addToWishlistBtn {
     align-self: center;
     padding: auto;
     margin-left: 15%;

}

text {
     display: grid;
     text-align: center;
     justify-content: center;
     margin-bottom: 2px;
     max-width: 300px;
     align-items: center;
     color: white;
     font-size: 15px;
     font-family: 'Chakra Petch', sans-serif;
     font-weight: bold;
      
} 

#main {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     margin: 10px;
     padding: 10px;
     background-color: black;
     border-radius: 20px;
}

.card-title {
     color: black;
}

@keyframes shake{
     0%{
          transform: translateX(0);
     }
     25%{
          transform: translateX(25px);
     }
     50%{
          transform: translateX(-25px);
     }
     100%{
          transform: translateX(0px);
     }
}



h1 {
     font-family: 'Press Start 2P', cursive;
     /* font-family: 'Righteous', cursive; */
     color: white;
     font-size: 35px;
     max-height: auto;
     text-shadow: 5px 5px #454545;
     animation: shake 1.5s;
}



h2 {
     font-family: 'Righteous', cursive;
     display: grid;
     max-width: 300px;
     text-align: center;
     justify-content: center;
     color: white;
}

h3 {
     font-family: 'Righteous', cursive;
     display: grid;
     margin: 5px;
     color: white;
}

input {
     font-family: 'Righteous', cursive;
     width: 500px;
     height: 25px;
     border-radius: 20px;
     font-size: 20px;
     font-weight: bold;
}

.buttonsContainer{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

button {
     font-family: 'Righteous', cursive;
     border-radius: 20px;
     height: 30px;
     width: 200px;
     background-color: black;
     color: white;
     font-weight: bold;
     font-size: 17px;
     margin: 10px;
     padding-bottom: 10px;
}


@keyframes shake{
     0%{
          transform: translateY(0);
     }
     10%{
          transform: translateY(20px);
     }
     25%{
          transform: translateX(20px);
     }
     40%{
          transform: translateY(20px);
     }
     50%{
          transform: translateY(-20px);
     }
     100%{
          transform: translateX(0px);
     }
}



